.Library{
  .listOption {
    margin-top: 10px;
  }
}
.common-header-modal{
  .ant-modal{
    width: 350px !important;
    .ant-modal-body{
      .option{
        p{
          padding: 10px 0px 10px 5px;
          cursor: pointer;
        }
        .selected{
          background-color: #e8e8e961;
          &:hover{
            background-color: #e8e8e961;
          }
          p{
            font-weight: bold;
            padding: 10px 0 10px 5px;
          }
          //p:hover{
          //  background-color: #d9d9d9;
          //}
        }
      }
    }
  }
}
