.chats{

}
.common-header-modal {
  .img-button {
    display: flex;
    justify-content: space-between;
    img {
      width: 32px;
      height: 30px;
      background: #e6e6e6;
      border-radius: 7px;
      padding: 5px;
    }
    button {
      width: 45px;
      height: 16px;
      font-size: 10px;
      font-weight: 700;
      border: none;
      background: #e6e6e6;
      border-radius: 5px;
    }
  }
  .chats-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 25px;
    margin-bottom: 13px;
  }
  .span-color{
    margin: 15px 0px;
    color: #4d94ff;
  }
}