.ant-modal-root{
  .ant-modal-content{
    border-radius: 10px;
    .ant-modal-body{
      .optionList{
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0.8rem 0 0.8rem;
        //justify-content: center;
        //background-color: #e6e6e6;
        .listOption{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 73px;
          height: 73px;
          padding: 0px 19px 12px 19px;;
          border-radius: 10px;
          background-color: white;
          //box-shadow: -1px 13px 41px 1px #e3e8ec;
          box-shadow: 21px 21px 49px 1px #e2eaf7;
          margin: 7px 7px;
          &:hover{
            border:1.7px solid #0034ff;
          }
          .img-box {
            //margin: 28px 17px 0 17px ;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 6px;
            background-color: #dfebff;
            img {
              width: 20px;
            }
          }
          .title-text{
            display: flex;
            justify-content: center;
            height: 0px;
            margin-top: 5px;
            p{
             font-size: 10px;
            }
          }
        }
        .listOption:hover{
          box-shadow:25px 25px 60px 3px #9cd7ff;
        }
        .selected{
          border:1.7px solid #0034ff;
        }
      }
    }
  }
}